.leader-board {
  padding: 10px;
}

.leader-board-name {
  cursor: pointer;
}

.leader-board ul {
  list-style: none;
  padding-left: 0;
}


.dirtiest-scores {
  /* font-size: 8px; */
  list-style: none;
  padding: 0
}

.full-leader-board {
  position: relative;
  background-color: white;
  margin: 10px;
  padding: 0 10px;
  border-radius: 5px;
}
