.LeaderBoard-view {

}

.leaderboards-wrapper {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 18px;
  justify-content: center;
}

.leaderboard-ranks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

.leaderboard-ranks.placeholder li{
  height: 60px;
  width: 316px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.15);
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
  padding: 6px 12px;
}

@media screen and (max-width: 1120px) {
  .leaderboards-wrapper {
    grid-template-columns: 340px 340px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 740px) {
  .leaderboards-wrapper {
    grid-template-columns: 340px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
