.LeaderBoard-view {

}

.leaderboards-wrapper {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 12px;
  justify-content: center;
}

.leaderboard-ranks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

@media screen and (max-width: 1120px) {
  .leaderboards-wrapper {
    grid-template-columns: 340px 340px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 740px) {
  .leaderboards-wrapper {
    grid-template-columns: 340px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.team-placeholder {
  background-color: rgba(15,69,131,0.6);
  height: 48px;
  width: 100%;
}
