.team-card {
  display: grid;
  /* align-items: center;
  justify-content: space-between; */
  grid-template-columns: 60px 96px 96px;
  grid-gap: 12px;
  padding: 10px;
  height: 60px;
  width: 200px;
}

.team-card.away {
  /* flex-direction: row-reverse; */
}

.team-card .user, .score {
  align-self: center;
}

.team-card .flag {
  border-radius: 50px;
  width: 60px;
  align-self: center;
}

.team-card .flag img {
  max-width: 100%;
}

.profile-img {
  clip-path: circle(60px at center);
}

.clip-circle {
  clip-path: circle(30px at center);
}
