.team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  width: 200px;
}

.team-card.away {
  flex-direction: row-reverse;
}

.team-card .user {

}

.team-card .flag {
  border-radius: 50px;
  width: 60px;
}

.team-card .flag img {
  max-width: 100%;
}
