.team-card {
  display: grid;
  font-size: 14px;
  grid-template-columns: 12px 60px 96px 96px;
  grid-gap: 12px;
  padding: 6px 12px;
  height: 60px;
  width: 316px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  transition: all 150ms ease-in;
}

.team-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: all 150ms ease-in;
}

.team-card.first {
  position: relative;
  overflow: hidden;
  /* animation: slide 1s infinite; */
}

.team-card.first:after {
  position: absolute;
  left: -160px;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: url('../../shine.png') no-repeat 0 0;
  background-size: contain;
  background-blend-mode: multiply;
  animation: slide 2s infinite 2s;
}

@keyframes slide {
	0% {
    transform:translateX(-100%);
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

	50% {
    transform:translateX(150%);
    opacity: 0;
  }
  100% {
    transform:translateX(150%);
    opacity: 0;
  }
}


.team-card.away {
  /* flex-direction: row-reverse; */
}

.team-card .user, .score, .rank {
  align-self: center;
}


.team-card .user .team {
  font-weight: bold;
}

.team-card .flag {
  border-radius: 50px;
  width: 48px;
  align-self: center;
  position: relative;
}

.team-card .flag img {
  max-width: 100%;
}

.profile-img {
  clip-path: circle(60px at center);
}

.clip-circle {
  clip-path: circle(24px at center);
}

.clip-circle-small {
  height: 24px;
  position: absolute;
  bottom: 0;
  right: -12px;
  clip-path: circle(12px at center);
}
